*{
    margin:0px;;
    padding:0;
}
body h2{
    padding-left:5px;
    padding:10px;
    font-size:200%;
    margin:20px;
}
.para1{
    letter-spacing: 5;   
    margin-left:30px; 
    font-size:170%;
    font-style:italic;
}
#sym1{
    letter-spacing:3;
    margin-left:20px;
    font-size:50px;
    padding:10px;
    padding-top:30px;
}
ul{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-decoration:none;
    padding:20px;
}
li{
    text-align:center;
    list-style:none;
    display:flex;
}
#img1{
    padding-top:10px;
    width:400px;
    height:300px;
    margin:20px;
    padding-left:130px;
}
body{
    margin:0;
    top:0;
}
header{
    background-color:rgb(11, 11, 69);
    height:100px;
    margin:0;
    margin-top:0;
    color:white;
}
header p{
    top:0;
    text-size-adjust:50;
    text-align:center;
    padding:35px;
    font-size:170%;
}
#foot{
    position:relative;
    bottom:0;
    background-color:rgb(29, 29, 77);
    padding:10;
    height:100px;
    width:100%;
    text-align:center;
}
.know, .know1{
    margin:20px;
    font-weight:bold;
    padding-left:430px;
    font-size:150%;
}
.know1{
    padding-left:500px;
}
.button1{
    align-items:center;
    margin: 25px;
    font-weight:bold;
    cursor:pointer;
    background-color:white;
    height:50px;
    width:120px;
    border-radius:10px;
    box-shadow:none;
    border:none;
}
.button1:hover{
    background-color: black;
    color:white;
}
.button1 a:hover{
    color:white;
}
.button1 a{
    text-decoration: none;
    color:black;
}